.add-todo-box {
  max-width: 1200px;
  min-width: 800px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: #fff2ff;
  border: 2px solid #e0bfe8;
  border-radius: 20px;
}

.input-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-box input {
  padding: 10px;
  margin: 0 10px;

  border: none;
  border-radius: 20px;

  font-weight: 900;
  font-size: 15px;
  color: #b197fc;
}

.input-box input:focus-visible {
  outline: none;
}

.input-box input:hover {
  background-color: #f3f0ff;
}

.input-box input:focus {
  background-color: #f3f0ff;
  color: #b197fc;
}

.input-text {
  width: 220px;
}

/* button은 custombutton으로 component분리하고 style로 따로 적용 */
/* .add-btn {
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  color: black;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 2px;

  cursor: pointer;
}*/

button:hover {
  background-color: #ae8fb6;
  color: purple;
  transition: 0.5s;

  box-shadow: 0 0 2px 2px red;
}
