.add-todo-box {
  max-width: 1200px;
  min-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.input-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
